<div class="container-fluid no-breadcrumbs">


  <mat-card>

    <mat-card-title>
      <h6>เลือก Product</h6>
    </mat-card-title>

    

  </mat-card>

  <mat-card style="margin-top:40px;">
    <!-- <mat-card-subtitle class="no-margin">
      <h6 class="no-margin">ผลการค้นหา {{this.model.doc_date | date:'dd/MM/yyyy'  }}</h6>
    </mat-card-subtitle> -->
    <mat-card-content>
      <!-- <div class="row" *ngIf="datas.length == 0;else show_raw_mat">
        <div class="col-12 text-center">
          <h4>ไม่พบรายการ</h4>
        </div>
      </div> -->
<!--           
      <ng-template #show_raw_mat> -->
        <div class="row" *ngFor="let x of datas.datas">
     
        
        <div class="col-sm-1 col-1">
          <dd>
            <mat-checkbox [(ngModel)]="x.selected" (change)="add()"></mat-checkbox>
          </dd>
          
        </div>
        <div class="col-sm-10 col-10">
          <small>Product</small>
          <dd>{{x.bar_code}} - {{x.prod_code}}</dd>
        </div>
        
    
      </div>
      <!-- </ng-template> -->
    </mat-card-content>
  </mat-card>

  <div class="form-action">

    <button mat-raised-button class="btn-w-md" type="button" (click)="close()">
      <mat-icon class="material-icons">close</mat-icon> ปิด
    </button>

    <!-- <button mat-raised-button color="primary" class="btn-w-md pull-right" type="button" (click)="add()">
      <mat-icon class="material-icons">add</mat-icon> เลือก
    </button> -->

  </div>

</div>
