// .example-header-image {
//   background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
//   background-size: cover;
// }

a.mat-fab {
  background-color: #60564b;
  color: white;
  border-radius: 25%;
}

.mat-card-avatar {
  .mat-icon.material-icons.mat-icon{
    width: 40px;
    height: 40px;
    font-size: 40px;
  }
}