<div class="container-fluid no-breadcrumbs">

  <mat-card>
    <mat-card-title>
      <h6>เปลี่ยนรหัสผ่าน</h6>
    </mat-card-title>
    <mat-card-content>

      <mat-card-content class="no-margin">

        <div class="row" [formGroup]="formGroup">
          <div class="col-12 col-lg-3">
            <mat-form-field class="full-width">
              <input style="-webkit-text-security: disc;" maxlength="8" autocomplete="off" matInput placeholder="รหัสผ่านเก่า" [(ngModel)]="data.oldPassword"
                formControlName="oldPassword" required>
              <mat-error *ngIf="f.oldPassword.errors?.required">Required</mat-error>
            </mat-form-field>
          </div>
          <div class="col-sm-6 col-lg-3">
            <mat-form-field class="full-width">
              <input maxlength="8" style="-webkit-text-security: disc;" autocomplete="off" matInput placeholder="รหัสผ่านใหม่" [(ngModel)]="data.newPassword"
                formControlName="newPassword" required>
                <mat-error *ngIf="f.newPassword.errors?.required">Required</mat-error>
                <mat-error *ngIf="f.newPassword.errors?.minlength">ขั้นต่ำ 4 ตัวอักษร</mat-error>
                
            </mat-form-field>
          </div>
          <div class="col-sm-6 col-lg-3">
            <mat-form-field class="full-width">
              <input maxlength="8" style="-webkit-text-security: disc;" autocomplete="off" matInput placeholder="ยืนยันรหัสผ่าน" [(ngModel)]="data.confirmPassword"
                formControlName="confirmPassword" required>
              <mat-error *ngIf="f.confirmPassword.errors?.required">Required</mat-error>
              <mat-error *ngIf="f.newPassword.errors?.minlength">ขั้นต่ำ 4 ตัวอักษร</mat-error>
              <mat-error *ngIf="formGroup.errors?.notSame">Password Not Match</mat-error>
            </mat-form-field>
          </div>
          
        </div>

      </mat-card-content>

    </mat-card-content>
  </mat-card>

  <div class="row" style="margin-top: 40px;margin-bottom: 40px">
    <div class="d-none d-lg-block col-lg-10"></div>
    <div class="col-12 col-lg-2">
      <button (click)="changePassword()" mat-raised-button type="button" mat-button color="primary" style="width:100%">
        <mat-icon class="material-icons">done</mat-icon> เปลี่ยนรหัสผ่าน
      </button>
    </div>
  </div>


</div>