<ul class="nav" myAccordionNav myAppendSubmenuIcon mySlimScroll myHighlightActiveItems>

  <li *ngIf="allowDashboard">
    <a mat-button [routerLink]="['/app/dashboard']"><i class="nav-icon material-icons">poll</i>
      <span class="nav-text">Dashboard</span>
    </a>
  </li>

  <li *ngFor="let item of user.menuGroups">
    <a mat-button><i class="nav-icon material-icons">apps</i><span class="nav-text">{{item.menuFunctionGroupName}}</span></a>
    <ul>

      <li *ngFor="let menu of item.menuFunctionList">
        <a mat-button class="md-button prepend-icon" [routerLink]="[menu.menuURL]" (click)="getRouterLink(menu)"><span>{{menu.menuFunctionName}}</span></a>
      </li>
    </ul>
  </li>
</ul>