<div class="container-fluid no-breadcrumbs">
  <mat-card>
      <mat-card-title>
          <h6>แสดงข้อมูลกลุ่มห้าง</h6>
      </mat-card-title>
      <mat-card-content>
        <div class="row">
          <div class="col-6 col-lg-2">
            <small>รหัสกลุ่มข้อมูล</small>
            <dd>{{model.branchGroupCode}}</dd>
          </div>
          <div class="col-6 col-lg-2">
            <small>ชื่อกลุ่มข้อมูล</small>
            <dd>{{model.branchGroupName}}</dd>
          </div>                  
        </div>
      </mat-card-content>
      
      <mat-card-actions>
          <button mat-raised-button class="btn-w-md" type="button" (click)="close()">
              <mat-icon class="material-icons">close</mat-icon> ปิด
          </button>         
      </mat-card-actions>
  </mat-card>
</div>