<div class="container-fluid no-breadcrumbs">

  <mat-card>
    <mat-card-title>
      <h6>บันทึกผลผลิต In Process - Manual</h6>
    </mat-card-title>

    <mat-card-content class="no-margin">

      <mat-card>
        <mat-card-content>

          <form [formGroup]="validationForm">
            <div class="row card-table-body">
              <div class="col-3 col-lg-3">
                <mat-form-field class="full-width">
                  <input matInput placeholder="Barcode" formControlName="bar_code" name="bar_code" #bar_code [(ngModel)] ="searchModel.bar_code">
                </mat-form-field>
                
              </div>
              <div class="col-2 col-lg-2">
                <mat-form-field class="full-width">
                  <input matInput placeholder="Qty" formControlName="qty" name="qty" [(ngModel)] ="searchModel.qty">
                </mat-form-field>
                
              </div>

              <div class="col-2 col-lg-2">
                <mat-card-actions class="no-margin">
                  <button mat-raised-button color="primary" type="button" (click)="openSearchProductModal()">
                    <mat-icon class="material-icons">search</mat-icon> เลือก
                  </button>
                </mat-card-actions>
              </div>

              <div class="col-2 col-lg-2">
                <mat-card-actions class="no-margin">
                  <button mat-raised-button color="primary" type="button" (click)="save()" [disabled]="!validationForm.valid">
                    <mat-icon class="material-icons">save</mat-icon> บันทึก
                  </button>
                </mat-card-actions>
              </div>

            </div>
            <!-- <div class="row card-table-body">
              <div class="col-4 col-lg-4">
                <mat-form-field class="full-width">
                  <input matInput placeholder="Barcode" name="bar_code" [(ngModel)]="searchModel.bar_code">
                </mat-form-field>
              </div>
              <div class="col-2 col-lg-2">
                <mat-form-field class="full-width">
                  <input matInput placeholder="Qty" name="qty" [(ngModel)]="searchModel.qty">
                </mat-form-field>
              </div>

              <div class="col-2 col-lg-2">
                <mat-card-actions class="no-margin">
                  <button mat-raised-button color="primary" type="button" (click)="save()">
                    <mat-icon class="material-icons">save</mat-icon> บันทึก
                  </button>
                </mat-card-actions>
              </div>

            </div> -->




            <div class="row card-table-body">
              <div class="col-3 col-lg-2">
                <small>Barcode</small>
                <dd>{{datas.bar_code}}</dd>
              </div>
              <div class="col-3 col-lg-3">
                <small>Product Code</small>
                <dd>{{datas.prod_code}}</dd>
              </div>
              <div class="col-4 col-lg-4">
                <small>Product Name</small>
                <dd>{{datas.prod_name}}</dd>
              </div>

              <div class="col-1 col-lg-1">
                <small>Qty</small>
                <dd>{{datas.qty}}</dd>
              </div>

            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </mat-card-content>
    <br />

    <mat-card-content class="no-margin">
      <div class="row">
        <div class="col-lg-2 col-sm-2">
          <dt>รายการ</dt>
        </div>
      </div>

      <mat-card>

        <mat-card-content>
          <div class="row">
            <div class="col-lg-2 col-sm-2">
              <!-- <dt> ทั้งหมด : {{count}} รายการ</dt> -->
            </div>
          </div>
          <div class="row card-table-body">

            <!-- Table -->
            <table style="width: 100%">
              <tbody>
                <tr>
                  <th style="width: 20px" class="text-center">ลำดับ</th>
                  <th style="width: 100px" class="text-center">รหัสสินค้า</th>
                  <th style="width: 150px" class="text-center">ชื่อสินค้า</th>
                  <th style="width: 50px" class="text-center">Scan Qty</th>
                </tr>
                <tr *ngFor="let x of model_scan.datas; let i = index;">
                  <td>{{i+1}}</td>
                  <!-- <td>{{x.prod_code}}</td>
                    <td>{{x.prod_name}}</td> 
                    <td>{{x.qty}}</td>  -->
                  <td>{{x.prod_code}}</td>
                  <td>{{x.prod_name}}</td>
                  <td>{{x.qty}}</td>
                </tr>


              </tbody>
            </table>



          </div>

          <!-- <mat-card-content *ngIf="model_scan.datas != undefined">
              <ngb-pagination [collectionSize]="model_scan.totalItem" [pageSize]="model_scan.itemPerPage" [maxSize]="5"
                  [(page)]="model_scan.pageIndex" (pageChange)="search()" [boundaryLinks]="true"></ngb-pagination>
            </mat-card-content> -->


        </mat-card-content>

      </mat-card>
    </mat-card-content>



    <br />
    <br />
    <mat-card-actions class="no-margin">
      <div class="row">
        <div class="col-2 col-sm-2">
          <button (click)="close();" mat-raised-button color="primary">
            <mat-icon class="material-icons">close</mat-icon> ปิด
          </button>
        </div>

      </div>
    </mat-card-actions>


  </mat-card>


</div>