<div class="container-fluid no-breadcrumbs">

  <mat-card>
    <mat-card-title>
      <h6>Scan บันทึกส่งมอบ</h6>
    </mat-card-title>

    <mat-card-content class="no-margin">

      <mat-card>
        <mat-card-content>

          <form [formGroup]="validationForm">
            <div class="row card-table-body">

              <div class="col-lg-3 col-sm-4 col-12">
                <mat-form-field class="full-width">
                  <mat-select autocomplete="off" [(value)]="searchModel.wc_code" placeholder="หน่วย"
                    [(ngModel)]="searchModel.wc_code" formControlName="wc_code">
                    <mat-option value="0">ไม่ระบุ</mat-option>
                    <mat-option *ngFor="let x of wclist" [value]="x.key">{{x.key}} - {{x.value}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-lg-3 col-sm-4 col-12">
                <mat-form-field class="full-width">
                  <input #req_date matInput [matDatepicker]="picker" placeholder="Req. Date"
                    [(ngModel)]="searchModel.req_date" formControlName="req_date">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>

              

            </div>
            <div class="row card-table-body">
              <div class="col-4 col-lg-3">
                <mat-form-field class="full-width">
                  <input matInput placeholder="PCS Barcode" formControlName="pcs_barcode" name="pcs_barcode"
                    #pcs_barcode (keydown.enter)="onQrEntered(pcs_barcode.value); pcs_barcode.value = ''" type="none" [(ngModel)]="searchModel.pcs_barcode">
                </mat-form-field>

              </div>
              

              <div class="col-3 col-lg-3">
                <mat-card-actions class="no-margin">
                  <button mat-raised-button color="primary" type="button" (click)="save()"
                    [disabled]="!searchModel.pcs_barcode">
                    <mat-icon class="material-icons">save</mat-icon> บันทึก
                  </button>
                </mat-card-actions>
              </div>

              <div class="col-2 col-lg-2">
                <mat-form-field class="full-width">
                  <input matInput placeholder="Set No." formControlName="set_no" name="set_no" [(ngModel)] ="model.set_no">
                </mat-form-field>
                
              </div>

              <div class="col-2 col-lg-2 ">
                <mat-card-actions class="no-margin">
                  <button mat-raised-button color="primary" type="button" (click)="openSearchSetNoModal(searchModel.entity,searchModel.req_date,searchModel.wc_code)">
                    <mat-icon class="material-icons">search</mat-icon> เลือก
                  </button>
                </mat-card-actions>
              </div>

              



            </div>
            <div class="row card-table-body">
              <div class="col-7 col-lg-6 ">

              </div>
              <div class="col-2 col-lg-2 ">
                <small>Set Qty</small>
                <dd>{{model.show_qty}}</dd>
              </div>

             
              <div class="col-2 col-lg-2 ">
                <mat-card-actions class="no-margin">
                  <button mat-raised-button color="primary" type="button" (click)="print()">
                    <mat-icon class="material-icons">print</mat-icon> Print
                  </button>
                </mat-card-actions>
              </div>
            </div>
            
            
          </form>
        </mat-card-content>
      </mat-card>
    </mat-card-content>
    <br />

    <mat-card-content class="no-margin">
      <div class="row">
        <div class="col-lg-2 col-sm-2">
          <dt>รายการ</dt>
        </div>
      </div>

      <mat-card>

        <mat-card-content>
          <div class="row">
            <div class="col-lg-2 col-sm-2">
              <!-- <dt> ทั้งหมด : {{count}} รายการ</dt> -->
            </div>
          </div>
          <div class="row card-table-body">

            <!-- Table -->
            <table style="width: 100%">
              <tbody>
                <tr>
                  <th style="width: 100px" class="text-center">PCS Barcode</th>
                  <th style="width: 100px" class="text-center">รหัสสินค้า</th>
                  <th style="width: 150px" class="text-center">ชื่อสินค้า</th>
                  <th style="width: 50px" class="text-center">Job No.</th>
                  <th style="width: 10px"></th>
                </tr>
                <tr *ngFor="let x of model_scan.datas; let i = index;">
                  <td>{{x.pcs_barcode}}</td>
                  <td>{{x.prod_code}}</td>
                  <td>{{x.prod_name}}</td>
                  <td>{{x.job_no}}</td>
                  <td><button mat-icon-button [matMenuTriggerFor]="appMenu1">
                    <mat-icon class="material-icons">more_horiz</mat-icon> 
                  </button>
                  <mat-menu #appMenu1="matMenu">
                    <button mat-menu-item (click)="delete(i,x)">
                      <mat-icon class="material-icons">cancel</mat-icon> <span>ยกเลิกผลผลิต - Scan</span> 
                    </button>
                  </mat-menu></td>

                </tr>


              </tbody>
            </table>



          </div>

          <!-- <mat-card-content *ngIf="model_scan.datas != undefined">
              <ngb-pagination [collectionSize]="model_scan.totalItem" [pageSize]="model_scan.itemPerPage" [maxSize]="5"
                  [(page)]="model_scan.pageIndex" (pageChange)="search()" [boundaryLinks]="true"></ngb-pagination>
            </mat-card-content> -->


        </mat-card-content>

      </mat-card>
    </mat-card-content>



    <br />
    <br />
    <mat-card-actions class="no-margin">
      <div class="row">
        <div class="col-2 col-sm-2">
          <button (click)="close();" mat-raised-button color="primary">
            <mat-icon class="material-icons">close</mat-icon> ปิด
          </button>
        </div>

      </div>
    </mat-card-actions>


  </mat-card>


</div>