<div class="container-fluid no-breadcrumbs">
    <mat-card>
      <mat-card-title>
        <h6>ค้นหาห้าง เพื่อกำหนดสินค้าที่จัดจำหน่าย</h6>
      </mat-card-title>
      <mat-card-content>
  
        <form >
          <mat-card-content class="no-margin">
            <div class="row">
              <div class="col-sm-6 col-lg-6">
                <mat-form-field class="full-width">
                  <mat-select placeholder="กลุ่มห้าง *" [(ngModel)]="model.branchGroupId" name="branchGroup" (selectionChange)="getBranchInGroup()">
                    <mat-option *ngFor="let x of ddlBranchGroup" [value]="x.key">{{x.value}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-sm-6 col-lg-6">
                <mat-form-field class="full-width">
                  <mat-select placeholder="ห้าง *" [(ngModel)]="model.branchId" name="branch">
                    <mat-option *ngFor="let x of ddlBranch" [value]="x.key">{{x.value}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <!-- <div class="col-sm-6 col-lg-3">
                <mat-form-field class="full-width">
                  <input matInput placeholder="รหัส/ชื่อห้าง" [(ngModel)]="model.branchDesc" name="branchDesc">
                </mat-form-field>
              </div>
              <div class="col-sm-6 col-lg-3">
                <mat-form-field class="full-width">
                  <input matInput placeholder="Entity Code" [(ngModel)]="model.entityCode" name="entityCode">
                </mat-form-field>
              </div> -->
              <!-- <div class="col-sm-6 col-lg-3">
                <mat-form-field class="full-width">
                  <mat-select placeholder="สถานะ" multiple [(ngModel)]="model.status" name="status">
                    <mat-option *ngFor="let x of ddlStatus" [value]="x.key">{{x.value}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div> -->
            </div>
          </mat-card-content>
          <mat-card-actions class="no-margin">
            <button mat-raised-button color="primary" class="btn-w-md" type="button" (click)="search()"
              [disabled]="model.branchGroupId == undefined">
              <mat-icon class="material-icons">search</mat-icon> ค้นหา
            </button>           
          </mat-card-actions>
        </form>
  
        <mat-card *ngIf="data.datas != undefined">
          <mat-card-content>
            <!-- <div class="row card-table-header">
              <div class="col-12 col-lg-6">
                <b>ห้าง</b>
              </div>            
              <div class="col-8 col-lg-3">
                <b>สถานะ</b>
              </div>
              <div class="col-2 col-lg-3">
                  
              </div>
              <div class="col-12">
                <hr />
              </div>
            </div> -->
            <div class="row card-table-body" *ngFor="let x of data.datas">
              <div class="col-12 col-sm-6">
                <small>ห้าง</small>
                <dd>{{x.branchCode}}-{{x.entityCode}} {{x.branchName}}</dd>
              </div>              
              <div class="col-10 col-sm-3">
                <small>สถานะ</small>
                <dd>{{x.statusTxt}}</dd>
              </div>
              <div class="col-2 col-sm-3 text-right">
                <button mat-icon-button [matMenuTriggerFor]="appMenu">
                  <mat-icon class="material-icons pull-right">more_horiz</mat-icon>
                </button>
  
                <mat-menu #appMenu="matMenu">
                  <!-- <button mat-menu-item [routerLink]="['/app/branch/view/'+x.branchId]" *ngIf="actions.VIEW">
                    <mat-icon class="material-icons">search</mat-icon> <span>แสดง</span>
                  </button>
                  <button mat-menu-item [routerLink]="['/app/branch/edit/'+x.branchId]" *ngIf="actions.EDIT">
                    <mat-icon class="material-icons">edit</mat-icon> <span>แก้ไข</span>
                  </button> -->
                  <button mat-menu-item [routerLink]="['/app/branch-product/manage/'+x.branchId]" *ngIf="actions.ASSIGNPRODUCTBRANCH">
                    <mat-icon class="material-icons">edit</mat-icon> <span>สินค้าที่จัดจำหน่าย</span>
                  </button>
                  <!-- <button mat-menu-item ng-click="delete(x)">
                    <mat-icon class="material-icons">delete</mat-icon> <span>ลบ</span>
                  </button> -->
                </mat-menu>
  
              </div>
              <div class="col-12">
                <hr />
              </div>
            </div>
          </mat-card-content>
        </mat-card>
  
      </mat-card-content>
      <mat-card-content *ngIf="data.datas != undefined">
        <ngb-pagination [collectionSize]="data.totalItem" [pageSize]="model.itemPerPage" [maxSize]="5"
          [(page)]="model.pageIndex" (pageChange)="search()" [boundaryLinks]="true"></ngb-pagination>
      </mat-card-content>
    </mat-card>
  
  
  </div>