<div class="container-fluid no-breadcrumbs">

  <mat-card>
      <mat-card-title>
         <h6>Scan PutAway Manual ( เลขที่ใบส่งมอบ : {{this.model_ptwDetail.doc_no}} )</h6>
      </mat-card-title>
      <mat-card-content class="no-margin">
          <mat-card>
              <mat-card-content> 
                  <form [formGroup]="validationForm">
                    <div class="row card-table-body">
                      <div class="col-lg-4 col-sm-4 col-12">
                            <mat-form-field class="full-width">
                                <mat-select autocomplete="off"  placeholder="คลังสินค้า" [(ngModel)]="model_scan.wh_code"
                                  formControlName="wh_code" #wh_code disabled=true> 
                                  <mat-option value="0">ไม่ระบุ</mat-option>
                                  <mat-option *ngFor="let x of whlist" [value]="x.key">({{x.key}}) {{x.value}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row card-table-body">
                        <div class="col-lg-3 col-sm-4 col-12">
                            <mat-form-field class="full-width">
                              <input matInput autocomplete="off"  placeholder="Scan Location" formControlName="loc_code" name="loc_code" [(ngModel)]="model_scan.loc_code"
                                #loc_code (keydown.enter)="onLocEntered(loc_code.value);" type="none">
                                <button mat-button *ngIf="loc_code.value != ''" matSuffix mat-icon-button aria-label="Clear" type="button"
                                    (click)="loc_code.value = ''" >
                                    <mat-icon>close</mat-icon>
                                </button> 
                            </mat-form-field>
                            <mat-error class="error-message"
                                *ngIf="validationForm.get('loc_code').hasError('required') && (validationForm.get('loc_code').dirty || validationForm.get('loc_code').touched)">
                                  โปรดระบุข้อมูล
                             </mat-error>
          
                        </div>
                        <div class="col-lg-3 col-sm-4 col-12">
                            <mat-form-field class="full-width">
                              <input matInput autocomplete="off"  placeholder="Scan Product Barcode" formControlName="bar_code" name="bar_code" [(ngModel)]="model_scan.bar_code"
                                #bar_code  (keydown.enter)="onBarCodeEntered(bar_code.value);" type="none">

                                <button mat-button *ngIf="bar_code.value != ''" matSuffix mat-icon-button aria-label="Clear" type="button"
                                    (click)="bar_code.value = ''" >
                                    <mat-icon>close</mat-icon>
                                </button>  
                            </mat-form-field>
                            <mat-error class="error-message"
                                *ngIf="validationForm.get('bar_code').hasError('required') && (validationForm.get('bar_code').dirty || validationForm.get('bar_code').touched)">
                                  โปรดระบุข้อมูล
                             </mat-error>
                        </div>
                        <div class="col-lg-3 col-sm-4 col-12">
                            <mat-form-field class="full-width">
                              <input matInput autocomplete="off"  placeholder="จำนวน" formControlName="qty" name="qty" 
                                #qty  (keydown.enter)="onQtyEntered(qty.value); qty.value = ''; bar_code.value = ''" type="none">

                                <button mat-button *ngIf="qty.value != ''" matSuffix mat-icon-button aria-label="Clear" type="button"
                                    (click)="qty.value = ''" >
                                    <mat-icon>close</mat-icon>
                                </button>  
                            </mat-form-field>
                            <mat-error class="error-message"
                                *ngIf="validationForm.get('qty').hasError('required') && (validationForm.get('qty').dirty || validationForm.get('qty').touched)">
                                  โปรดระบุข้อมูล
                             </mat-error>
                        </div>
                    </div>
                  </form>   
              </mat-card-content>
           </mat-card>     
      </mat-card-content>
      <br />
      <mat-card-content class="no-margin">
          <div class="row">
              <div class="col-lg-2 col-sm-2">
                <dt>รายการ</dt>
              </div>
          </div> 
          <mat-card >
              <mat-card-content>
                  <div class="row">
                    <div class="col-lg-2 col-sm-2">
                      <!-- <dt> ทั้งหมด : {{count}} รายการ</dt> -->
                    </div>
                  </div>
                  <div class="row card-table-body">
                  
                    <mat-card-content class="scroller">
                    <!-- Table -->
                    <table style="width: 100%">
                      <tbody>
                        <tr>
                          <th style="width: 10px" class="text-center">Item</th>
                          <th style="width: 50px" class="text-center">Set No</th>
                          <th style="width: 150px" class="text-center">รหัสสินค้า</th>
                          <th style="width: 30px" class="text-center">คลัง</th>
                          <th style="width: 50px" class="text-center">Location</th>
                          <th style="width: 50px" class="text-center">จำนวน</th>
                          <th style="width: 10px">&nbsp;</th>
                        </tr>
                        <tr *ngFor="let x of current_scan.datas; let i = index;">
                          <td class="text-center">{{i+1}}</td>
                          <td class="text-center">{{x.set_no}}</td>
                          <td>{{x.prod_code}}</td>
                          <td class="text-center">{{x.wh_code}}</td>
                          <td class="text-center">{{x.loc_code}}</td>
                          <td class="text-center">{{x.qty}}</td>
                          <td class="text-center">
                              <button mat-icon-button [matMenuTriggerFor]="appMenu2">
                                <mat-icon class="material-icons">more_horiz</mat-icon>
                              </button>
                              <mat-menu #appMenu2="matMenu">
                                <button mat-menu-item  (click)="PutAwayCancel(x.item_no,x.prod_code,x.bar_code)">
                                  <mat-icon class="material-icons">cancel</mat-icon> <span>ยกเลิก</span>
                                </button>
                              </mat-menu>
                          </td>
                        </tr>
                        <tr>
                          <th colspan="5" class="text-center">รวมทั้งสิ้น</th>
                          <th style="width: 50px" class="text-center">{{vSum}}</th>
                          <th style="width: 10px">&nbsp;</th>
                        </tr>
                      </tbody>
                    </table>
                    </mat-card-content>
                  </div> 
              </mat-card-content>
          </mat-card>
      </mat-card-content>   
      
      <mat-card-actions class="no-margin">
        <div class="row">
          <div class="col-2 col-sm-2">
            <button (click)="close();" mat-raised-button color="primary">
              <mat-icon class="material-icons">close</mat-icon> ปิด
            </button>
          </div>
      
        </div>
      </mat-card-actions>


  </mat-card>
</div>      