<div class="container-fluid no-breadcrumbs"> <!-- container-->
  <mat-card> <!-- mat-card 1 -->
      <mat-card-title>
         <h6> Product Detail</h6>
      </mat-card-title>
      <br /> 

      <mat-card-content class="no-margin"> <!-- Detail-->
        <div class="row">
          <div class="col-lg-2 col-sm-2">
            <dt>รายละเอียดสินค้า</dt>
          </div>
        </div>
        <mat-card-content>
          <table style="width: 100%" >
            <thead>
              <tr>
                  <th style="width: 5px" class="text-center">Item</th>
                  <th style="width: 100px" class="text-center">Product Code</th>
                  <th style="width: 250px" class="text-center">Product Name</th>
                  <th style="width: 10px" class="text-center">Unit</th>
                  <th style="width: 10px" class="text-center">Plan</th>
                  <th style="width: 10px" class="text-center">Act</th>
                  <th style="width: 10px" class="text-center">Diff</th>
                  <th style="width: 30px" class="text-center">SD No / Dsgn.</th>
                 
                  <th style="width: 10px" class="text-center"></th>
              </tr>
            </thead>
            <tbody *ngFor="let x of dataOrderInfo.orderDetail; let i = index;"> 
              <tr>
                <td class="text-center">{{x.line_no}}</td>
                <td>{{x.prod_code}}</td>
                <td>{{x.prod_name}}</td>
            
                <td class="text-center">{{x.uom}}</td>
                <td class="text-center">{{x.qty_ord}}</td>
                <td class="text-center">{{x.qty_act}}</td>
                <td class="text-center">{{x.qty_ord-x.qty_act}}</td>
                <td  class="text-center">{{x.sd_no}} / {{x.dsgn_no}}</td>
                
                <td>
                  <button mat-icon-button [matMenuTriggerFor]="appMenu1">
                    <mat-icon class="material-icons">more_horiz</mat-icon>
                  </button>
                  <mat-menu #appMenu1="matMenu">

                    <button mat-menu-item (click)="openSpec(x.bar_code,x.dsgn_no)">
                      <mat-icon class="material-icons">description</mat-icon> <span>Design Spec.</span>
                    </button>
                  </mat-menu>
                </td>
              </tr> 
              

            </tbody>
          </table>
        </mat-card-content>
      </mat-card-content> <!-- Detail-->  
      <br />

     
      
      <mat-card-actions class="no-margin">
        <div class="row">
          <div class="col-2 col-sm-2">
            <button (click)="close();" mat-raised-button color="primary">
              <mat-icon class="material-icons">close</mat-icon> ปิด
            </button>
          </div>
      </div>
      </mat-card-actions>  
  
   </mat-card> <!-- mat-card 1 -->
 </div> <!-- container-->           
