<div class="container-fluid no-breadcrumbs">
    <mat-card>
        <mat-card-title>
            <h6>แก้ไขข้อมูลแผนก</h6>
        </mat-card-title>
        <mat-card-content>
            <form [formGroup]="validationForm">
                <div class="row">
                    <div class="col-12 col-sm-3">
                        <!-- <mat-form-field class="full-width">
                            <input matInput placeholder="รหัสแผนก *" formControlName="departmentCode"
                                [(ngModel)]="model.departmentCode" name="departmentCode">
                        </mat-form-field>
                        <mat-error class="error-message"
                            *ngIf="validationForm.get('departmentCode').hasError('required') && (validationForm.get('departmentCode').dirty || validationForm.get('departmentCode').touched)">
                            โปรดระบุข้อมูล
                        </mat-error> -->
                        <small>รหัสแผนก</small>
                        <dd>{{model.departmentCode}}</dd>
                    </div>
                    <div class="col-12 col-sm-5">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="ชื่อแผนก *" formControlName="departmentName"
                                [(ngModel)]="model.departmentName" name="departmentName">
                        </mat-form-field>
                        <mat-error class="error-message"
                            *ngIf="validationForm.get('departmentName').hasError('required') && (validationForm.get('departmentName').dirty || validationForm.get('departmentName').touched)">
                            โปรดระบุข้อมูล
                        </mat-error>
                    </div>   
                    <div class="col-12 col-sm-4">
                        <mat-form-field class="full-width">
                            <mat-select placeholder="สถานะ *" [(ngModel)]="model.status" name ="ddlStatus" formControlName="status">
                                <mat-option *ngFor="let x of ddlStatus" [value]="x.key">{{x.value}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>                 
                </div>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button class="btn-w-md" type="button" (click)="close()">
                <mat-icon class="material-icons">close</mat-icon> ปิด
            </button>

            <button mat-raised-button color="primary" class="btn-w-md pull-right" type="button" (click)="save()"
                [disabled]="!validationForm.valid">
                <mat-icon class="material-icons">save</mat-icon> บันทึกข้อมูล
            </button>
        </mat-card-actions>
    </mat-card>
</div>