.mat-list {
  padding: 0 !important;
}

.line-1 {
  text-align: left;
  font-size: 14px !important;
}

.mat-list .mat-list-item.mat-2-line {
  height: 60px;
  margin: 0 -16px;
}

.pc-branch-view {
  // line-height: 1.1;
  text-align: left;
}

small {
  color: rgba(0, 0, 0, 0.54);
}
