<div class="container-fluid no-breadcrumbs">
  <mat-card>
    <mat-card-title>
      <h6>Upload File</h6>
    </mat-card-title>
    <mat-card-content>

      <form>
        <mat-card-content class="no-margin">
          <div class="row">
            <div class="col-6 col-lg-3">
              <mat-form-field class="full-width">
                <input matInput placeholder="Design Code" [(ngModel)]="model.pddsgn_code" name="pddsgn_code">
              </mat-form-field>
            </div>
            
            
            <div class="col-6 col-lg-3">
              <mat-form-field class="full-width">
                <mat-select placeholder="Type" [(ngModel)]="model.type" name="type">
                  <mat-option>ทั้งหมด</mat-option>
                        <!-- <mat-option *ngFor="let x of ddlStatus" [value]="x.key">{{x.value}}</mat-option> -->
                        <mat-option value="SD" selected>SD</mat-option>
                        <mat-option value="DESIGN_SPEC">Design Spec</mat-option>
                </mat-select>
              </mat-form-field>
            </div>            
            
          </div>
        </mat-card-content>
        <mat-card-actions class="no-margin">
          <button mat-raised-button color="primary" class="btn-w-md" type="button" (click)="search()">
            <mat-icon class="material-icons">search</mat-icon> ค้นหา
          </button>
          <button mat-raised-button type="button" mat-button class="btn-w-md pull-right"
            [routerLink]="['/app/upload/create']">
            <mat-icon class="material-icons">add</mat-icon> Upload File
          </button>
        </mat-card-actions>
      </form>



      <mat-card>
        <mat-card-content>
         
          <div class="row card-table-body" *ngFor="let x of data.datas">
            <div class="col-6 col-lg-3">
              <small>Design Code</small>
              <dd>{{x.pddsgn_code}}</dd>
            </div>
            
            <div class="col-12 col-lg-4">
              <small>Design Name</small>
              <dd>{{x.pddsgn_name}}</dd>
            </div>
            <div class="col-6 col-lg-3">
              <small>Type</small>
              <dd>{{x.type}}</dd>
            </div>
            <!-- <div class="col-6 col-lg-1">
              <small>View</small>
              <dd></dd>
            </div> -->
            <div class="col-6 col-lg-1 text-right">
              <button mat-icon-button [matMenuTriggerFor]="appMenu">
                <mat-icon class="material-icons">more_horiz</mat-icon>
              </button>
              <mat-menu #appMenu="matMenu">
                <button type="button" mat-menu-item (click)="view(x)">
                  <mat-icon class="material-icons">search</mat-icon> <span>ดู</span>
                </button>
              
                <button mat-menu-item [routerLink]="['/app/upload/edit/'+x.pddsgn_code]">
                  <mat-icon class="material-icons">edit</mat-icon> <span>แก้ไข</span>
                </button>

                <button mat-menu-item (click)="delete(x)">
                  <mat-icon class="material-icons">delete</mat-icon> <span>ลบ</span>
              </button>
              
              </mat-menu>

            </div>
            <div class="col-12">
              <hr />
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-card-content>
    <mat-card-content *ngIf="data.datas != undefined">
      <ngb-pagination [collectionSize]="data.totalItem" [pageSize]="model.itemPerPage" [maxSize]="5"
        [(page)]="model.pageIndex" (pageChange)="search()" [boundaryLinks]="true"></ngb-pagination>
    </mat-card-content>
  </mat-card>
</div>

