<div class="container-fluid no-breadcrumbs">

  <mat-card>
    <mat-card-title>
      <h6>Pring In Process Tag</h6>
    </mat-card-title>

    <mat-card-content class="no-margin">

      <mat-card>
        <mat-card-content>

          <form [formGroup]="validationForm">
            <div class="row card-table-body">
              <div class="col-3 col-lg-3">
                <mat-form-field class="full-width">
                  <input matInput placeholder="Barcode" formControlName="bar_code" name="bar_code" #bar_code [(ngModel)] ="searchModel.bar_code">
                </mat-form-field>
                
              </div>
              <div class="col-2 col-lg-2">
                <mat-form-field class="full-width">
                  <input matInput placeholder="Qty" formControlName="qty" name="qty" [(ngModel)] ="model.qty">
                </mat-form-field>
                
              </div>

              <div class="col-2 col-lg-2">
                <mat-card-actions class="no-margin">
                  <button mat-raised-button color="primary" type="button" (click)="openSearchProductModal()">
                    <mat-icon class="material-icons">search</mat-icon> เลือก
                  </button>
                </mat-card-actions>
              </div>

              <div class="col-2 col-lg-2">
                <mat-card-actions class="no-margin">
                  <button mat-raised-button color="primary" type="button" (click)="print()" [disabled]="!validationForm.valid">
                    <mat-icon class="material-icons">print</mat-icon> Print
                  </button>
                </mat-card-actions>
              </div>

            </div>
            <div class="row card-table-body">
              <div class="col-8 col-lg-8">
                <mat-form-field class="full-width">
                  <input matInput placeholder="รายละเอียดอื่น ๆ" formControlName="description" name="description" [(ngModel)]="model.description">
                </mat-form-field>
              </div>
            </div>
            



            <div class="row card-table-body">
              
              <div class="col-3 col-lg-3">
                <small>Product Code</small>
                <dd>{{model.prod_code}}</dd>
              </div>
              <div class="col-5 col-lg-5">
                <small>Product Name</small>
                <dd>{{model.prod_name}}</dd>
              </div>

              

            </div>
            <div class="row card-table-body">
              <div class="col-3 col-lg-3">
                <small>Size</small>
                <dd>{{model.size_name}}</dd>
              </div>
              <div class="col-4 col-lg-4">
                <small>Design</small>
                <dd>{{model.design_name}}</dd>
              </div>

            </div>

            <div class="row card-table-body">
              <div class="col-4 col-lg-4">
                <small>Order No.</small>
                <dd>JIT : {{model.req_date}}</dd>
              </div>
             

            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </mat-card-content>
    

    <br />
    <br />
    <mat-card-actions class="no-margin">
      <div class="row">
        <div class="col-2 col-sm-2">
          <button (click)="close_print();" mat-raised-button color="primary">
            <mat-icon class="material-icons">close</mat-icon> ปิด
          </button>
        </div>

      </div>
    </mat-card-actions>


  </mat-card>


</div>
