<div class="container-fluid no-breadcrumbs">

  <mat-card>
    <mat-card-title>
      <h6>Scan บันทึกยืนยันส่งมอบเข้าคลังสินค้า</h6>
    </mat-card-title>

    <mat-card-content class="no-margin">

      <mat-card>
        <mat-card-content>

          <form [formGroup]="validationForm">

            <div class="row card-table-body">

              <div class="col-lg-3 col-sm-4 col-12">

                <mat-form-field class="full-width">
                  <input matInput placeholder="เลขที่ใบส่งมอบ" formControlName="doc_no" name="doc_no" #pcs_barcode
                    type="none" [(ngModel)]="searchModel.doc_no">
                </mat-form-field>


              </div>
              <div class="col-lg-3 col-sm-4 col-12">
                <mat-form-field class="full-width">
                  <input #req_date matInput [matDatepicker]="picker" placeholder="Opt. Date"
                    [(ngModel)]="searchModel.fin_date" formControlName="fin_date">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>



            </div>
            <div class="row card-table-body">
              
                <div class="col-sm-5 col-5" style="margin-top: 10px;">
                  สถานะการส่งมอบ
                  
                  <div class="hiddenradio">
                    <label >
                      <input type="radio" name="send_type"  value="WAIT" (change)="radioTypeChange('WAIT')" checked> รอส่งมอบ                 
                    </label>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <label>
                      <input type="radio" name="send_type" value="FIN" (change)="radioTypeChange('FIN')"> ส่งมอบแล้ว                      
                    </label>
                  </div>
                  
                

              </div>


              <div class="col-2 col-lg-2">
                <mat-card-actions class="no-margin">
                  <button mat-raised-button color="primary" type="button" (click)="search()"
                    [disabled]="!searchModel.fin_date">
                    <mat-icon class="material-icons">refresh</mat-icon> Refresh
                  </button>
                </mat-card-actions>
              </div>



              <div class="col-2 col-lg-2 ">
                <mat-card-actions class="no-margin">
                  <button mat-raised-button color="primary" type="button"
                    (click)="openScanApproveNew(searchModel.entity,searchModel.fin_date,searchModel.doc_no)" [disabled]="!searchModel.fin_date">
                    <mat-icon class="material-icons">save</mat-icon> ยืนยันส่งมอบ - Scan
                  </button>
                </mat-card-actions>
              </div>





            </div>



          </form>
        </mat-card-content>
      </mat-card>
    </mat-card-content>
    <br />

    <mat-card-content class="no-margin">
      <div class="row">
        <div class="col-lg-2 col-sm-2">
          <dt>รายการ</dt>
        </div>
      </div>

      <mat-card>

        <mat-card-content>
          <div class="row">
            <div class="col-lg-2 col-sm-2">
              <!-- <dt> ทั้งหมด : {{count}} รายการ</dt> -->
            </div>
          </div>
          <div class="row card-table-body">

            <!-- Table -->
            <table style="width: 100%">
              <tbody>
                <tr>
                  <th style="width: 100px" class="text-center">MPS Date</th>
                  <th style="width: 50px" class="text-center">JIT GRP</th>
                  <th style="width: 50px" class="text-center">หน่วยงาน</th>
                  <th style="width: 100px" class="text-center">เลขที่ใบส่งมอบ</th>
                  <th style="width: 50px" class="text-center">จำนวน Set</th>
                  <th style="width: 50px" class="text-center">จำนวน</th>
                  <th style="width: 100px" class="text-center">สถานะ</th>
                  <th style="width: 10px"></th>
                </tr>
                <tr *ngFor="let x of model.datas; let i = index;">
                  <td>{{x.req_date}}</td>
                  <td>{{x.pdjit_grp}}</td>
                  <td>{{x.wc_code}}</td>
                  <td>{{x.doc_no}}</td>
                  <td>{{x.set_qty}}</td>
                  <td>{{x.tot_qty}}</td>
                  <td>{{x.status}}</td>
                  <td><button mat-icon-button [matMenuTriggerFor]="appMenu1">
                      <mat-icon class="material-icons">more_horiz</mat-icon>
                    </button>
                    <mat-menu #appMenu1="matMenu">
                      <button mat-menu-item (click)="cancel(i,x)">
                        <mat-icon class="material-icons">cancel</mat-icon> <span>ยกเลิกผลผลิต - Scan</span>
                      </button>
                    </mat-menu>
                  </td>

                </tr>


              </tbody>
            </table>



          </div>

          <!-- <mat-card-content *ngIf="model_scan.datas != undefined">
              <ngb-pagination [collectionSize]="model_scan.totalItem" [pageSize]="model_scan.itemPerPage" [maxSize]="5"
                  [(page)]="model_scan.pageIndex" (pageChange)="search()" [boundaryLinks]="true"></ngb-pagination>
            </mat-card-content> -->


        </mat-card-content>

      </mat-card>
    </mat-card-content>



    <br />
    <br />
    <mat-card-actions class="no-margin">
      <div class="row">
        <div class="col-2 col-sm-2">
          <button (click)="close();" mat-raised-button color="primary">
            <mat-icon class="material-icons">close</mat-icon> ปิด
          </button>
        </div>

      </div>
    </mat-card-actions>


  </mat-card>


</div>