<div class="container-fluid no-breadcrumbs">
    <mat-card>
        <mat-card-title>
            <h6>เพิ่มข้อมูลกลุ่มห้าง</h6>
        </mat-card-title>
        <mat-card-content>
            <form [formGroup]="validationForm">
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="รหัสกลุ่มห้าง *" formControlName="branchGroupCode"
                                [(ngModel)]="model.branchGroupCode" name="branchGroupCode">
                        </mat-form-field>
                        <mat-error class="error-message"
                            *ngIf="validationForm.get('branchGroupCode').hasError('required') && (validationForm.get('branchGroupCode').dirty || validationForm.get('branchGroupCode').touched)">
                            โปรดระบุข้อมูล
                        </mat-error>
                    </div>
                    <div class="col-12 col-sm-6">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="ชื่อกลุ่มห้าง *" formControlName="branchGroupName"
                                [(ngModel)]="model.branchGroupName" name="branchGroupName">
                        </mat-form-field>
                        <mat-error class="error-message"
                            *ngIf="validationForm.get('branchGroupName').hasError('required') && (validationForm.get('branchGroupName').dirty || validationForm.get('branchGroupName').touched)">
                            โปรดระบุข้อมูล
                        </mat-error>
                    </div>                    
                </div>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button class="btn-w-md" type="button" (click)="close()">
                <mat-icon class="material-icons">close</mat-icon> ปิด
            </button>

            <button mat-raised-button color="primary" class="btn-w-md pull-right" type="button" (click)="save()"
                [disabled]="!validationForm.valid">
                <mat-icon class="material-icons">save</mat-icon> บันทึกข้อมูล
            </button>
        </mat-card-actions>
    </mat-card>
</div>