<div class="container-fluid no-breadcrumbs">


  <mat-card>

    <mat-card-title>
      <h6>เลือก Product</h6>
    </mat-card-title>



  </mat-card>

  <mat-card style="margin-top:40px;">
    <mat-card-subtitle class="no-margin">
      <h6 class="no-margin">ผลการค้นหา</h6>
    </mat-card-subtitle>
    <mat-card-content>
      <div class="row" *ngIf="datas.length == 0;else show_product">
     
        <div class="col-12 text-center">
          <h4>ไม่พบรายการ</h4>
        </div>
      </div>

      <ng-template #show_product >
        <div class="row" *ngFor="let x of datas.datas">


          <div class="col-sm-1 col-1">
            <dd>
              <mat-checkbox [(ngModel)]="x.selected" (change)="add()"></mat-checkbox>
            </dd>

          </div>
          <div class="col-sm-3 col-3">
            <small>Product Code</small>
            <dd>{{x.prod_code}} </dd>
          </div>
          <div class="col-sm-3 col-3">
            <small>Sub Product Code</small>
            <dd>{{x.sub_prod_code}}</dd>
          </div>
          <!-- <div class="col-sm-3 col-3">
            <small>Sub Product Name</small>
            <dd>{{x.sub_prod_name}}</dd>
          </div> -->
          <div class="col-sm-2 col-2">
            <small>Qty Plan</small>
            <dd>{{x.qty_plan}}</dd>
          </div>
          <!-- <div class="col-sm-1 col-1">
            <small>qty Fin</small>
            <dd>{{x.qty_fin}}</dd>
          </div> -->


        </div>
      </ng-template>
    </mat-card-content>
  </mat-card>

  <div class="form-action">

    <button mat-raised-button class="btn-w-md" type="button" (click)="close()">
      <mat-icon class="material-icons">close</mat-icon> ปิด
    </button>

    

  </div>

</div>